body {
  background-color: rgb(236, 207, 212);
}

header {
  background-color: rgb(228, 139, 166);
  color: rgb(138, 55, 66);
  text-align: center;
  border-bottom: 3px solid rgb(187, 91, 120);
  padding-bottom: 5px;
}

<!-- i just want to change the way the photo is positioned, but I am struggling> 

.cat-image2{
  width: 100px;
  display: inline-flex;
      }
  
    .cat-image2 img{
      margin: auto 100px;
      float: right;
      width: 300px;
      height: 300px;
  }